In [1]:
import pandas as pd
import networkx as nx

# Networkx

In [2]:
edges = pd.read_csv('edges.csv', sep=' ')
edges.head()

  edge  node1  node2  weight
0    e      1     18       1
1    e      2      8       1
2    e      2     17       1
3    e      3      7       1
4    e      3     18       1

In [3]:
edges.describe()

           node1      node2  weight
count  52.000000  52.000000    52.0
mean   12.519231  12.519231     1.0
std     6.658300   6.658300     0.0
min     1.000000   1.000000     1.0
25%     7.000000   7.000000     1.0
50%    12.000000  12.000000     1.0
75%    18.250000  18.250000     1.0
max    24.000000  24.000000     1.0

In [4]:
G = nx.from_pandas_edgelist(edges, 'node1', 'node2', ['weight'])
G[1][18]

{'weight': 1}

In [5]:
src = 1
des = 12

#Shortest Path
d, p = nx.single_source_dijkstra(G,source=src, target=des)
print('Shortest Distance:', d)
print('Paths:', p)

Shortest Distance: 6
Paths: [1, 18, 3, 7, 9, 10, 12]

In [6]:
src = 11
des = 12

paths = nx.all_shortest_paths(G,source=src, target=des, weight='weight', method='dijkstra')

p_list = list(paths)
print('Number of Paths:', len(p_list))
print(p_list)

Number of Paths: 2
[[11, 9, 10, 12], [11, 14, 15, 12]]

In [7]:
# Comfirm if G is an undirected graph
G.is_directed()

False